.button {
    padding: 0 15px;
    min-height: 30px;
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
    color: #282c34;
    background-color: #61dafb;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:active {
    background-color: transparent;
    color: #61dafb;
}

.button:disabled {
    opacity: 0.5;
    background-color: #61dafb;
    color: #282c34;
    cursor: not-allowed;
}